<div class="content">
    <div>
        <h1>Johannes Leander</h1>
        <p>
            leanderjohannes@gmail.com
            <br> johannesleander.github.io/portfolio
        </p>
    </div>


    <div>
        <h2>WORK-LIFE EXPERIENCE</h2>
        <div>
            <span>
                <strong>Invativa AB</strong> || 2018
                <br> Front-End Developer
            </span>
            <ul>
                <li>Web development / UX design for customers in the Swedish credit report business including Ratsit and Bisnode</li>
                <li>Wrote and co-ordinated technical documentation in preparation for GDPR</li>
                <li>Unit- and system testing in enterprise applications built using C# .NET with Xunit</li>
                <li>Mainatined and documented organization-wide solution for continuos integration using tools from Atlassian</li>
            </ul>
        </div>
        <div>
            <span>
                <strong>Rodan Creative</strong> || 2017
                <br> Technical co-founder / Digital Nomad
            </span>
            <ul>
                <li>Authored, directed and filmed agile education courses for Gladwell Academy and KLM</li>
                <li>Taught agile working methodologies at schools in Ubud, Indonesia (Bali) and Tokyo, Japan</li>
                <li>Web development / UX design for our company's home page using Wordpress</li>
                <li>Traveled south-east Asia with my co-founder, living the digital nomad lifestyle</li>
            </ul>
        </div>
        <div>
            <span>
                <strong>Invativa AB</strong> || 2016
                <br> Front-End Development Intern
            </span>
            <ul>
                <li>Evaluated Web Development frameworks (AngularJS and React) for organization-wide usage in future projects</li>
                <li>Developed and designed prototype single-sign-on solution between back-office systems for my employer's customer,
                    Eniro</li>
                <li>Had ownership of the front-end implementation of access-rights administration between said systems</li>
                <li>Used and contributed to Open Source C# Library IdentityServer</li>
            </ul>
        </div>
        <div>
            <span>
                <strong>Academic Work</strong> || 2015 - 2016
                <br> Part time IT Consultant
            </span>
            <ul>
                <li>Installation of networking and point-of-sale systes for customers including Swedbank, Axfood, Reitan Group
                    and H&M</li>
                <li>Mentored four new hires on business relations, working routines and day-to-day operations</li>
                <li>Authored introduction plan for new hires, reducing on-boarding time by 50%</li>
                <li>One of four IT technicians responsible for the installation of a new till system for H&M's daughter company,
                    COS, in Gothenburg</li>
            </ul>
        </div>
        <div>
            <span>
                <strong>Gamereactor</strong> || 2013 - 2015
                <br> Staff writer / part-time editor
            </span>
            <ul>
                <li>Wrote blogs, reviews, opinion pieces and articles about video games</li>
                <li>Managed a team of eight writers during international marketing project</li>
                <li>Conducted interviews with game industry personalities, both in text- and video form</li>
                <li>On-site reporting of video game events in e.g. USA, Poland and United Kingdom </li>
            </ul>
        </div>
    </div>
    <div>
        <h2>EDUCATION</h2>
        <p>
            <strong>University of Gothenburg</strong>
            B.Sc. Information Systems
            <br> Class of 2014
        </p>
    </div>
    <div>
        <h2>SKILLS</h2>
        <ul>
            <li>Html + CSS + Javascript</li>
            <li>Git / C# / Rust</li>
            <li>Gimp / Inkscape</li>
            <li>PC / Mac</li>
            <li>Front-End developemnt</li>
            <li>UX-Design</li>
        </ul>
    </div>
    <div>
        <h2>ACTIVITIES</h2>
        <ul>
            <li>
                <strong>Gothenburg Virtual Reality Meetup</strong>
                <br> Event organizer, host, designer and business developer
            </li>
            <li>
                <strong>SYSOMATIC</strong>
                <br> Board member and graphic designer for a student driven incubator at the University of Gothenburg.
                <br> Worked with companies and other organizations to help students bring their ideas to life,
                <br> amongst other things managing one of the first projects for commercial smart-watches at our university.
            </li>
            <li>
                <strong>SVT Debatt</strong>
                <br> In 2016, there was a state proposal for the government paying the college costs of female IT students in
                an effort to bring more female workers into the male dominated workforce.
                <br> I was invited to discuss the issue based on my experiences as a student in the field of IT.
                <br> The discussion can be viewed
                <a href="https://youtu.be/jHKTt90k-28?t=14m50s">here</a>.
            </li>
            <li>
                <strong>Dagens Industri</strong>
                <br> Volounteered as crew member / event organizer at DI Startup Tour
            </li>
        </ul>
    </div>
    <div>
        <h2>WEB PROJECTS</h2>
        <ul>
            <li>
                <a href="www.wouffy.com">
                    <strong>Wouffy - the office dogs of your dreams</strong>
                </a>
                <br> My friend - a professional dog trainer - had the idea to build an office-dog rental service.
                <br> I implemented front-end and worked on design with a colleague over the course of a day, during Gothenburg
                Startup Hack 2018.
            </li>
            <li>
                <a href="https://www.ratsit.se/lonekollen">
                    <strong>Ratsit Lönekollen</strong>
                </a>
                <br> Implemented design and order handling for the new product 'Lönekollen' from Ratsit.
                <br> Lönekollen lets the customer buy individual pages from Ratsit's original product 'Ratsitkatalogen'.
            </li>
            <li>
                <a href="https://www.rodancreative.com">
                    <strong>Rodan Creative</strong>
                </a>
                <br> Landing page and the main marketing platform for a prior venture. 
            </li>
        </ul>
    </div>
</div>