<div>
    <h1>Johannes Leander</h1>
    <p>
        leanderjohannes@gmail.com
        <br> johannesleander.github.io/portfolio
    </p>
</div>


<div>
    <h2>EXPERIENCE</h2>
    <div>
        <span>
            <strong>Invativa AB</strong> || 2018
            <br> Full-Stack Developer / UX-designer
        </span>
        <ul>
            <li>Web development / UX design for customers in the Swedish credit report business</li>
            <li>Helped customers prepare for GDPR</li>
            <li>Enterprise application testing</li>
            <li>Mainatined and documented organization-wide solution for Continuos Integration</li>
        </ul>
    </div>
    <div>
        <span>
            <strong>Rodan Creative</strong> || 2017
            <br> Technical co-founder / Digital Nomad
        </span>
        <ul>
            <li>Authored, directed and filmed agile education courses for Gladwell Academy and KLM</li>
            <li>Taught agile working methodologies at schools in Ubud, Indonesia (Bali) and Tokyo, Japan</li>
            <li>Designed, developed and maintained business web site</li>
            <li>Traveled south-east Asia with my co-founder</li>
        </ul>
    </div>
    <div>
        <span>
            <strong>Invativa AB</strong> || 2017
            <br> Full-stack Development Intern
        </span>
        <ul>
            <li>Evaluated Web Development frameworks for organization-wide usage</li>
            <li>Developed prototype application for single-sign-on solutions in enterprise applications</li>
            <li>Used and contributed to Open Source Library IdentityServer</li>
        </ul>
    </div>
    <div>
        <span>
            <strong>Academic Work</strong> || 2015 - 2016
            <br> IT Consultant
        </span>
        <ul>
            <li>Installation of IT gear for customers including Swedbank, Axfood, Reitan Group and H&M</li>
            <li>Mentored new hires on business relations, routines and proper gear handling</li>
            <li>Authored introduction plan for new hires, reducing on-boarding time by 50%</li>
            <li>Installatin of Till and Server gear for several national projets in Sweden</li>
        </ul>
    </div>
    <div>
        <span>
            <strong>Gamereactor</strong> || 2013 - 2015
            <br> Staff writer / part-time editor
        </span>
        <ul>
            <li>Wrote blogs, reviews, opinion pieces and articles about video games</li>
            <li>Managed a team of eight writers during with writing and editorial work</li>
            <li>Shot and performed interviews with game industry personalities, both in text- and video form</li>
            <li>On-site reporting of video game events in e.g. USA, Poland and United Kingdom </li>
        </ul>
    </div>
</div>
<div>
    <h2>EDUCATION</h2>
    <p>
        <strong>University of Gothenburg</strong>
        B.Sc. Information Systems
        <br> Class of 2014
    </p>
</div>
<div>
    <h2>SKILLS</h2>
    <ul>
        <li>Html + CSS + Javascript</li>
        <li>Git / C# / Rust</li>
        <li>Gimp / Inkscape</li>
        <li>PC / Mac</li>
        <li>Full-stack developemnt</li>
        <li>UX-Design</li>
    </ul>
</div>
<div>
    <h2>ACTIVITIES</h2>
    <ul>
        <li>
            <strong>Gothenburg Virtual Reality Meetup</strong>
            <br> Event organizer, host, designer and business developer
        </li>
        <li>
            <strong>SYSOMATIC</strong>
            <br> Board member and graphic designer for a student driven incubator / innovation enabler
        </li>
        <li>
            <strong>SVT Debatt</strong>
            <br> Discussed gender inequality in the Swedish IT industry on Swedish TV
        </li>
        <li>
            <strong>Dagens Industri</strong>
            <br> Volounteered as crew member / event organizer at DI Startup Tour
        </li>
    </ul>
</div>